<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- mybatis에서 필요한 model들! -->
        <typeAlias alias="PopularSearch" type="kr.co.ldcc.lobdingmachine.model.search.PopularSearch"/>
        <typeAlias alias="Product" type="kr.co.ldcc.lobdingmachine.model.product.Product"/>
        <typeAlias alias="Buy" type="kr.co.ldcc.lobdingmachine.model.product.Buy"/>
        <typeAlias alias="Member" type="kr.co.ldcc.lobdingmachine.model.member.Member"/>
        <typeAlias alias="JqGridParameter" type="kr.co.ldcc.lobdingmachine.model.common.JqGridParameter"/>
        <typeAlias alias="Image" type="kr.co.ldcc.lobdingmachine.model.image.Image"/>
        <typeAlias alias="Review" type="kr.co.ldcc.lobdingmachine.model.product.Review"/>
        <typeAlias alias="StatisticsData" type="kr.co.ldcc.lobdingmachine.model.statistics.StatisticsData"/>
    </typeAliases>
    <mappers>
        <!-- mapper(쿼리 들어있는 파일)들! -->
        <mapper resource="mapper/search/search.xml"/>
        <mapper resource="mapper/product/product.xml"/>
        <mapper resource="mapper/member/member.xml"/>
        <mapper resource="mapper/inventory/inventory.xml"/>
        <mapper resource="mapper/image/image.xml"/>
        <mapper resource="mapper/sample/sample.xml"/>
        <mapper resource="mapper/statistics/statistics.xml"/>
    </mappers>
</configuration>